body {margin-bottom:0;color:#fff;background:#333 url("../images/fundo/sorteio.jpg") center 50% no-repeat;background-size:cover}

.wrap-btn-sorteio, .sorteados {text-align:center}
.wrap-btn-sorteio a,
.wrap-btn-sorteio a:hover {display:inline-block;margin:0 auto;text-decoration:none}
.wrap-dados-sorteio h2 {margin-top:0;margin-bottom:20px;text-align:center}
.dados-sorteio {margin-bottom:40px}
.dados-sorteio h2 {font-family:"Roboto",sans-serif;font-size:14px}
.dados-sorteio h2:last-child {margin-bottom:0}
.dados-sorteio h2 strong {display:block;font-size:64px}
.sorteado strong,.sorteado span {display:block}
.sorteado strong {font-size:28px;font-weight:normal}
.sorteado span {margin-top:-5px;font-size:12px}
.wrap-img-base {padding-top:40px}
.wrap-img-base img {margin:0 auto}