label {
	font-size:11px;
	font-weight: normal;
	color: #999;
}

.mensagens-sistema,
.mensagens-sistema li {
	list-style-type: none;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.mensagens-sistema {
	margin-left: 10px;
	font-size: 10px;
}

.cadastro-sucesso {
	display: table;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.cadastro-sucesso > div {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}

.cadastro-sucesso > div > p {
	padding-top: 100px;
	background: url("../images/check.png") center top no-repeat;
}