@font-face {
	font-family: "RobotoLight";
	src: url("../fonts/roboto-light-webfont.woff2") format("woff2"),
		 url("../fonts/roboto-light-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "RobotoMedium";
	src: url("../fonts/roboto-medium-webfont.woff2") format("woff2"),
		url("../fonts/roboto-medium-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"),
		 url("../fonts/roboto-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "RobotoSlabBold";
	src: url("../fonts/robotoslab-bold-webfont.woff2") format("woff2"),
		 url("../fonts/robotoslab-bold-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "RobotoSlabLight";
	src: url("../fonts/robotoslab-light-webfont.woff2") format("woff2"),
		 url("../fonts/robotoslab-light-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "RobotoSlab";
	src: url("../fonts/robotoslab-regular-webfont.woff2") format("woff2"),
		 url("../fonts/robotoslab-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

.float-banner {
    position: fixed;
    left: 10%;
    width: 200px; height: 200px;
    padding: 10px 5px;
    text-align: center;
    background-color: #fff;
    border: 5px solid #000;
    margin-top: 200px;
    margin-left: -200px;
}

.preloader {
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background-color: white;
}

.preloader img {
	position: absolute;
	top: calc(50% - 32px);
	left: calc(50% - 32px);
}

.preloader div {
	display: none;
	/* Preload the Second Pricing Image */
	background: url(../img/pricing2.jpg) no-repeat 9999px 9999px;
	background-position: 9999px 9999px;
}

/* Navigation Bar ( Navbar ) */

/* nav.navbar { */
/* 	position: absolute; */
/* 	z-index: 9500; */
/* 	width: 100%; */
/* 	width: 100vw; */
/* 	-webkit-transition: all 0.3s ease; */
/* 	transition: all 0.3s ease; */
/* } */

/* nav.navbar .navbar-nav li.active a:not(.btn) { */
/* 	color: #00a8ff !important; */
/* } */

/* nav.navbar-fixed-top { */
/* 	z-index: 9499; */
/* 	top: 0; */
/* 	padding: 25px 0; */
/* 	opacity: 0; */
/* 	background: white; */
/* 	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.05); */
/* } */

/* nav.navbar-fixed-top .navbar-nav > li > a:not(.btn) { */
/* 	color: #bbb; */
/* } */

/* .icon-bar { */
/* 	background: #bbb; */
/* } */




html {position:relative;min-height:100%}
body {font-family:"Roboto",Sans-Serif;margin-bottom:50px}

body.fundo-boas-vindas {background:url("../images/fundo-boas-vindas.png") center bottom no-repeat}

label {position:relative;font-size:12px;font-weight:normal;color:#666}
label.com-aux {display:inline-block;width:100%}
label.com-aux .aux {position:absolute;right:0;bottom:0;color:#999}

input[type="text"],select,textarea {text-transform:uppercase}

.form-horizontal .control-label {text-align:left}

select.form-control {padding-bottom:5px;padding-left:9px}

.logo-sistema {display:block;background:url("../images/logo-hor-p-2.png") center 50% no-repeat;width:145px}
.logo-sistema span {display:none}

.dropdown-menu>li>a span {display:block;font-size:11px;color:#999}

.btn-notificacoes {position:relative}
.btn-notificacoes strong {font-weight:normal}
.btn-notificacoes .info-quant-notificacoes {position:absolute;top:8px;left:23px;padding:2px 3px;font-size:9px;color:#fff;line-height:normal;background-color:#d43;border-radius:2px;box-shadow:1px 1px 1px rgba(0,0,0,.5);z-index:999}
.btn-notificacoes .badge {background-color:#d43}

.wrap-lista-notificacoes {}
.wrap-lista-notificacoes li.lista-notificacoes {min-width:260px;max-height:250px;overflow:auto}
.wrap-lista-notificacoes li.lista-notificacoes a {display:block;border-bottom:1px dotted rgba(0,0,0,0.15);white-space:normal}
.wrap-lista-notificacoes li.lista-notificacoes a:last-child {border-bottom:0}

.footer {position:absolute;bottom:0;font-size:11px;color:#999;line-height:18px;background:#f5f5f5 url("../images/sombra.png") left top repeat-x;width:100%;height:50px}
.footer a {color:#999}
.footer .wrap-direitos {}
.footer .direitos {display:inline-block;margin-top:16px}
.footer .wrap-by {text-align:right}
.footer .by {display:inline-block;margin-top:16px;padding-right:31px;background:url("../images/logo-nx-rodape.png") right 50% no-repeat}
.footer .by span {display:none}

.modal-backdrop.in {background-color:#fff;opacity:.9}

/* ********** */

.boas-vindas {position:relative;font-family:"RobotoLight",Sans-Serif;font-weight:200;text-align:right;width:100%;height:500px}
.boas-vindas h1 {font-size:64px}
.boas-vindas h1 span {display:inline-block;font-size:22px;color:#999;width:75%}
.boas-vindas-horas {font-size:156px}
.boas-vindas-data {margin:-50px 0 0 4px;font-size:54px}

/* ********** */

.wrap-extrato-pdv p:before,
.wrap-extrato-pdv p:after {content:" ";display:table}
.wrap-extrato-pdv p:after {clear:both}

.wrap-extrato-pdv span,
.wrap-extrato-pdv strong {display:block;float:left;text-align:right}

.wrap-extrato-pdv span {margin-top:8px;width:25%}
.wrap-extrato-pdv strong {font-size:28px; width:75%}

/* ********** */

.wrapper-filtro {margin:10px 0 60px;padding-bottom:15px;background-color:#f7f7f9;border:1px solid #ddd;border-radius:4px}

.nav-tabs {background:url("../images/fundo-tab.png") left top repeat}
.nav-tabs>li {margin-top:2px}

.info-logado span span {display:inline-block!important;color:#ccc}

.tab-content {padding-top:15px;width:100%}

.dropdown-menu .divider {margin:5px 0}

.wrap-pagination-buttons .pagination {margin:0}

.btn-icon {padding-left:33px!important;background-position:10px 50%;background-repeat:no-repeat}

.wrap-paginacao {font-size:12px}

.wrap-paginacao .paginacao {text-align:right}

.wrap-paginacao .links-paginacao a,
.wrap-paginacao .links-paginacao span {display:inline-block;margin-left:5px} 

.wrap-paginacao .links-paginacao a.active {font-weight:strong;text-decoration:underline}

/* ********** */

.margin-top-0 {margin-top:0}

.margin-bottom-40 {margin-bottom:40px}

.espaco {height:65px}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {font-family:"RobotoLight",Sans-Serif}

.table thead tr th,
.table tfoot tr td,
.table tbody tr td {font-size:12px}

.table.sem-thead tbody tr:first-child td {border-top:0}

.align-center,
.align-center th {text-align:center}
.align-right,
.align-right th {text-align:right}
.align-left,
.align-left th {text-align:left}

.valign-middle {vertical-align:middle!important}

.txt-vermelho {color:#a94442}
.txt-verde {color:#3c763d}
.txt-cinza-claro {color:#ccc!important}

.txt-transform-none {text-transform:none!important}

.b,.strong,.bold {font-weight:bold}
.i,.italic,.em {font-style:italic}

.txt-peq {font-size:10px!important}

.width-150 {width:150px!important}

.border-left-0 {border-left: 0}

/* ********** */

.scroll {overflow:auto}
.scroll-x {overflow-x:auto}
.scroll-y {overflow-y:auto}

.scroll,
.scroll-x,
.scroll-y {margin-bottom:20px}

.scroll .table,
.scroll-x .table,
.scroll-y .table {margin-bottom:0}

/* ********** */

.sidebar-nav .navbar-nav,
.sidebar-nav .navbar-nav > li {float:none}

.dropdown-header {color:#aaa}

.dropdown-menu-2 {margin-bottom:10px;padding:0}
.dropdown-menu-2 li {list-style:none}
.dropdown-menu-2>li>a {display:block;padding:0 20px;text-decoration:none}

@media (max-width:991px) {
    .dropdown-menu-2 .dropdown-menu .dropdown-header,
    .dropdown-menu-2 li a {padding:0 20px!important}
    
    .dropdown-menu-2 .dropdown-header.esconde {display:none}
    
    .ico-notificacoes {display:none}
    .texto-notificacoes {display:block}
    
    .boas-vindas {text-align:center}
}

@media (min-width:992px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding:0;
        max-height:none;
    }
    .sidebar-nav .navbar-default {
        background-color:transparent;
        background-image:none;
        border-color:transparent;
        box-shadow:none;
    }
    /* .sidebar-nav .navbar-nav li .dropdown-menu { */
    .dropdown-menu-2 .dropdown-menu {
        top:-17px;
        left:75%;
        border-top-right-radius:4px;
    }
    
    .ico-notificacoes {display:block}
    .texto-notificacoes {display:none}

    .sidebar-nav .navbar>.dropdown>ul {
        padding-left:15px;
        padding-bottom:12px;
    }
    .dropdown-menu-2 .open > a, 
    .dropdown-menu-2 .open > a:hover,
    .dropdown-menu-2 .open > a:focus {
        font-weight:bold;
        background:none;
    }
    .dropdown-menu-2 .dropdown-menu {padding-top:14px;padding-bottom:15px}
}

.caret-right {
    margin-top:-1px;
    border-bottom:4px solid transparent;
    border-top:4px solid transparent;
    border-left:4px solid;
    display:inline-block;
    height:0;
    opacity:0.3;
    vertical-align:middle;
    width:0;
}

.treegrid-indent {width:16px;height:16px;display:inline-block;position:relative}

.treegrid-expander {width:16px;height:16px;display:inline-block;position:relative;cursor:pointer}

.treegrid-expander-expanded{background-image:url(../images/collapse.png)}
.treegrid-expander-collapsed{background-image:url(../images/expand.png)}

tr.destaca-linha>td {background-color:#eee}

.table-inside-table {width:100%}
.table-inside-table th {padding:0 3px;color:#999}
.table-inside-table td {padding:3px;background-color:#fff;border:1px solid #ddd}

.wrap-btn-grid,.wrap-btn-form-topo {margin-bottom:20px}
.wrap-btn-grid .dir,.wrap-btn-form-topo .dir {text-align:right}
.wrap-btn-grid .esq,.wrap-btn-form-topo .esq {text-align:left}
.wrap-btn-grid .centro,.wrap-btn-form-topo .centro {text-align:center}

.wrap-btn-form {}
.wrap-btn-form .dir {text-align:right}
.wrap-btn-form .esq {text-align:left}
.wrap-btn-form .centro {text-align:center}

.wrap-pagination-buttons:before,
.wrap-pagination-buttons:after {content:" ";display:table}

.wrap-pagination-buttons:after {clear:both}

#preloader {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.95) url("../images/preloader.gif") center 50% no-repeat;
	z-index: 9999; 
}

/* Clear fix */

label:before,label:after {content:" ";display:table}
label:after {clear:both} 

.scroll-horizontal {overflow-x:auto}
.scroll {overflow:auto;max-height:408px}

.input-inside-grid {font-size:12px;width:45px}

.wrap-totais {}
.wrap-totais .descricao,
.wrap-totais .total {text-align:right}
.wrap-totais .total {font-weight:bold}

.input-100-porc {
	width: 100%;
}

.ms-choice {
	padding: 6px 0 6px 12px;
	line-height: 34px;
	border: 1px solid #ccc;
	height: 34px;
} 

.ms-choice > span {
	padding-left: 12px;
}

.ms-choice > div {
	height: 34px;
}

.ms-drop {
	color: inherit;
}

.ms-drop input[type="checkbox"],
.ms-drop input[type="radio"] {
	margin-top: -1px;
	margin-right: 7px;
}

